# News Headlines
Margaux Soubry published in 2020 a paper for the VUB where she manually labeled a lot of news headlines or potential headlines and also took a look at the impact of some labels in potential headlines in order to become the chosen headline.

I continued based on this research in order to predict those manually labeled automaticlly using Natural Language Processing techniques (NLP) and predict the finally selected headlines from the multiple candidates. This might then be continued to predict which of the headlines will perform best (will result in the most readers), suggest changes to th title to improve the performance or even suggest a good performing title, given the full article.

## Dataset
Soubry manualy labeled headlines for her thesis. Let's take a look at them:
Note: Soubry her analysis and thesis where written in Dutch, so quotations from there or the dataset are also Dutch.

In [7]:
import pandas as pd
import openpyxl  # Dependency of pandas that's not automatically installed

df = pd.read_excel('headline-data/Dataverwerking.xlsx', sheet_name='Verwerking')
df.head()

,Test,Headline ID,Winner,Headline,Actief,Lang,Vragen,Interpunctie,Tweeledigheid,Emotie,...,Lidwoorden,Adjectieven,Eigennamen,Betrekking,Voor+Achternaam,Cijfers,Quotes,Wat zit erin voor mij?,Modaliteit,Sensatie
0,1,A,False,Barack en Michelle Obama laten dansmoves zien ...,0,1,0,0,0,0,...,0,0,0,0,1,0,0,NaN,NaN,NaN
1,NaN,B,True,Barack en Michelle Obama gaan helemaal los tij...,1,0,0,0,0,0,...,0,0,0,0,1,0,0,NaN,NaN,NaN
2,2,A,True,Marc Coucke maakt opvallende keuze bij start v...,1,0,0,0,0,0,...,0,0,0,0,1,0,0,NaN,NaN,NaN
3,NaN,B,False,"Marc Coucke: ""Spelers van 10 miljoen? Neen, li...",1,0,0,0,1,0,...,0,0,0,0,1,0,1,NaN,NaN,NaN
4,3,A,True,Maandag drukste dag van het jaar op Brussels A...,1,1,0,0,1,0,...,0,0,0,1,0,0,1,1.0,NaN,NaN

In [8]:
print(f"Soubry labeled {len(df.index)} headlines.")

Soubry labeled 2257 headlines.

## Preprocessing
### Column names
A lot of the column names contain spaces at the end, let's remove them:

In [9]:
# Remove spaces at the end of the column names
print(f"E.g. the first column has the name: '{df.columns[0]}'")
df.columns = [x.strip() for x in df.columns]
print(f"The new name of this column is: '{df.columns[0]}'")

E.g. the first column has the name: 'Test '
The new name of this column is: 'Test'

### Test ID's
Only the first row of each test has a test ID. Let's add the ID to each of the rows.

In [12]:
# iterate over dataframe rows, if test is NaN, set test id to previous test id
for i in range(1, len(df)):
    if pd.isna(df.loc[i, 'Test']) or str(df.loc[i, 'Test']).strip() == '':
        df.loc[i, 'Test'] = df.loc[i - 1, 'Test']
df.head()

,Test,Headline ID,Winner,Headline,Actief,Lang,Vragen,Interpunctie,Tweeledigheid,Emotie,...,Lidwoorden,Adjectieven,Eigennamen,Betrekking,Voor+Achternaam,Cijfers,Quotes,Wat zit erin voor mij?,Modaliteit,Sensatie
0,1,A,False,Barack en Michelle Obama laten dansmoves zien ...,0,1,0,0,0,0,...,0,0,0,0,1,0,0,NaN,NaN,NaN
1,1,B,True,Barack en Michelle Obama gaan helemaal los tij...,1,0,0,0,0,0,...,0,0,0,0,1,0,0,NaN,NaN,NaN
2,2,A,True,Marc Coucke maakt opvallende keuze bij start v...,1,0,0,0,0,0,...,0,0,0,0,1,0,0,NaN,NaN,NaN
3,2,B,False,"Marc Coucke: ""Spelers van 10 miljoen? Neen, li...",1,0,0,0,1,0,...,0,0,0,0,1,0,1,NaN,NaN,NaN
4,3,A,True,Maandag drukste dag van het jaar op Brussels A...,1,1,0,0,1,0,...,0,0,0,1,0,0,1,1.0,NaN,NaN